{% extends "base.html" %}
{% block title %}Orpheus - Thanks for your vote!{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Thanks for your vote!</h1>
    <br><br>
    <div class="results">
        {% for song, votes in songs %}
            {{song}} - {{votes}}<br>
        {% endfor %}
    </div><br>
    <form class="mobile_form" action="/vote" method="get">
        <div class="buttonHolder">
            <input type="submit" value="Back to Voting" />
        </div>
    </form>
{% endblock %}