body {
	font-family: verdana;
	background-color: #672199;
	text-align: center;
    font-size: 50px;
}

h1 {
	color: white;
}

form {
	background-color: #ccc;
	margin: auto;
	position: relative;
	width: 88%;
	padding: 15px;
	border: 2px solid #000;
	border: inset 1px solid #333;
    border-radius: 15px;
    font-size: 75px;
    color: black;
}

input[type=text] {
    width: 90%;
    height: 80px;
    font-size: 70px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 15px;
}

input[type=submit] {
    width: 40%;
    height: 70px;
    font-size: 60px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 15px;
}

.track {
    color: white;
    font-size: 60px;
}

.button {
    background-color: #ccc;
    margin: auto;
    position: relative;
    width: 90%;
    height: 100px;
    font-size: 75px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #000;
    color: black;
}

.skip {
    background-color: #ccc;
    width: 200px;
    height: 100px;
    font-size: 75px;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid #000;
    color: black;
}

.box {
	border: 1px solid #000;
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding: 2em;
    background-color: #3f3f3f;
    color: white;
}

.input_view {
    padding: 10px;
    border: 1px solid #000;
    border: inset 1px solid #333;
}